/vendor/
node_modules/
npm-debug.log
yarn-error.log

hipl.t-mp.co.uk
hiplold.t-mp.co.uk
# ignore large files
public/tmp-homepage2.mp4
public/Slideshow_1.mp4

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
user.ini
.user.ini

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
